* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
    background: #bbbbbb;
}

/* Barra de navegación */
.nav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;

}
.nav__logo__img {
    display: block;
    width: 6%;
    height: 4%;
    cursor: pointer;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left: 2rem;
}

.nav__logo {

    height: inherit;
    display: flex;
    flex-flow: row wrap;
}
.nav__links{
    width: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 45em;

}
.nav__links__link{
    display: block;
    text-decoration: none;
    color: #000;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1rem;
    padding-top: 1.5rem;
    transition: all 300ms;
    text-decoration-thickness: 100px;
}
.nav__links__link:hover {
    color: #52b69a;
    transform: scale(1.2);
}
.nav__button {
    border: none;
    width: 10rem;
    height: 3em;
    font-family: 'Roboto Slab', sans-serif;
    margin: 1.5rem 0;
    margin-top: 2em;
    margin-right: 3rem;
    border-radius: 3rem;
    font-size: 1rem;
    padding: 0;
    transition: all 300ms;
    cursor: pointer;
}
.nav__button:hover {
    color: #52b69a;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #000000;
    margin-bottom: 60px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 35px;
    text-align: center;
}


/* Header */

header {
    width: 100%;
    height: 800px;
    background: #bbbbbb;
    padding: 100px 100px 100px ;
    display: flex;


}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    position: initial;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hed__button {
    border: none;
    width: 15rem;
    height: 3rem;
    font-family: 'Nunito', sans-serif;
    margin: 1.5rem 0;
    margin-top: 2em;
    margin-right: 3rem;
    border-radius: 3rem;
    font-size: 1rem;
    padding: 0;
    transition: all 300ms;
    cursor: pointer;
}

.hed__button:hover {
    color: #52b69a;
}

.textos-header h1{
    font-size: 80px;
    color:#fff;
    padding-top: 100px;
    font-family: 'Nunito';
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}


/* Cards */

.content-cuadros{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.cuadro{
    width: 46%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(0.96);
    transition: transform 0.6s;
    border-radius: 10px;
    padding-bottom: 10px;
}

.cuadro-1{
    width: 97%;
    text-align: center;
    height: 200px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(0.96);
    transition: transform 0.6s;
    border-radius: 10px;
    margin-bottom: 15px;
    line-height: 10px;
}

.cuadro-2{
    width: 30%;
    text-align: center;
    height: 450px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(0.96);
    transition: transform 0.6s;
    border-radius: 10px;
    margin-bottom: 15px;
    line-height: 15px;
    padding:30px 30px 30px 30px;
}

.cuadro:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}
.cuadro-1:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.cuadro-2:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.cuadro h3{
    margin: 10px 0 20px 0;
    color: #000000;
    font-size: 20px;
}
.cuadro-1 h3{
    margin: 10px 0 20px 0;
    color: #000000;
    font-size: 20px;
}

.cuadro img{
    width: 10%;
    margin-top: 30px;
}
.cuadro p{
    font-weight: 40;
    font-size: 15px;
    padding: 0px 15px;
    margin-bottom: 20px;
}

.cuadro-2 p{
    font-weight: 40;
    font-size: 15px;
    padding: 15px 15px;
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    text-decoration: none;
    background: #848484;
    padding: 12px 15px;
    border-radius: 10px;
    color: #fff;
    margin-top: 10px;
}

footer{
    background: #bbbbbb;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}


.content-foo p{
    color: #ccc;
}

.contenedor-descarga{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}



